._container {
    font-family: "Prata", serif;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .AuthPage {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
