@import './global';

* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	--primary-dark: $dark-orange;
	--primary-light: $light-orange;
	--secondary-dark: $dark-blue;
	--secondary-light: $light-blue;
	--main-bg: $brand-gray05;
}

.App {
	height: 100%;
}

ul.align-bullets {
    list-style-position: inside;
}

textarea {
    resize: none;
}

input {
    padding: 1vmin;
    font-size: 2vmin;
    border: 0.1vmin solid $brand-gray03;
    border-radius: 0.5vmin;
    color: $color-black;
    background-image: none !important; /* prevent lastpass */
    outline: none;
}

input:focus {
    border-color: $dark-orange;
}

.align-ctr {
    text-align: center;
}

.align-rt {
    text-align: right;
}

.smaller {
    font-size: smaller;
}

.flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-j-end {
    justify-content: flex-end;
}

.scroll-y {
    overflow-y: scroll;
}
