@import "./global";

body {
    color: $brand-black;
	font: 300 20px/30px $font-codec;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $brand-gray05;
}

.btn-orange {
	background-color: $dark-orange;
	border:none;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    color: white;
    cursor: pointer;
    display: inherit;
    padding: 10px 16px;
    font-family: $font-codec;
    font-weight: 500;
	text-transform: uppercase;

    // position: absolute;
    // top: 30px;
    // right: 60px;
}

i {
	color: $brand-gray03;
}

a {
	color: $link-default;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	transition: 300ms;

	&:hover {
		color: $link-hover;
		transition: 300ms;
	}
}

a,
span {
	&.icon-arrow,
	&.icon-arrow-inline {
		font: 700 20px/20px $font-codec;
		padding: 0;

		@include breakpoint($width-sm) {
			font: 700 16px/16px $font-codec;
		}

		&:hover {
			color: $link-hover;
		}

		&::after {
			content: '\f061';
			display: inline-block;
			font: 700 16px/0 "Font Awesome\ 5 Free";
			margin-left: $gutter-xs;
		    position: relative;

		    @include breakpoint($width-sm) {
				font: 700 14px/0 "Font Awesome\ 5 Free";
				margin-left: $gutter-xxs;
			}
		}
	}

	&.icon-arrow {
		display: block;
	}

	&.icon-arrow-inline {
		display: inline-block;
		margin-left: $gutter-xs;
	}
}

ul.align-bullets {
	list-style-position: inside;
}

label,
.label {
	display: block;
	font: 300 16px/26px $font-codec;
	letter-spacing: 0.2em;
	margin-bottom: $gutter-sm;
	text-transform: uppercase;

	&.heading-large,
	&.heading-small {
		letter-spacing: 0;
		text-transform: none;
	}

	&.heading-large {
		color: $brand-black;
		font: bold 28px/36px $font-codec;
	}

	&.heading-small {
		color: $brand-gray01;
		font: 20px/30px $font-codec;
	}

	&.hide-label {
		font-size: 0;
		line-height: 0;
		margin: 0;
		opacity: 0;
		padding: 0;
		visibility: hidden;
	}
}



