@import "../../styles/global";

.caption-img {
	font: 20px $font-codec;
	margin: $gutter-xs 0;
}

.shape-circle {
	border-radius: 50%;
    width: 100px;
    height: 100px;
}

.img-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

